.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    padding: 0 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.photograph-header .infos {
    display: block;
    text-align: left;
}

.photograph-header .infos h1 {
    color: #D3573C;
    font-weight: 600;
    font-size: 40px;
    margin: 0;
}

.photograph-header .infos p.location {
    color: #901C1C;
    font-size: 24px;
}

.photograph-header .infos p.tagline {
    color: #000;
    font-size: 18px;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100%;
    overflow: hidden;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/* SortBy Section */
.sortby_section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sortby_section p {
    font-size: 18px;
    font-weight: 700;
    margin-right: 25px;
}


/* Custom select */
.custom-select {
    position: relative;
    width: 170px;
    border-radius: 5px;
    overflow: visible;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    background-color: #901C1C;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: #901C1C;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}


/* Gallery Styles */
.gallery_section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 30px;
    column-gap: 95px;
    margin-top: 50px;
}

.gallery_section article {
    display: block;
}

.gallery_section article a video,
.gallery_section article a img {
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
}

.gallery_section article .infos-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
    font-weight: 400;
    font-size: 24px;
    /* line-height: 31px; */
}

article .infos-wrapper p {
    margin: 0;
    /* add line clamp for show one line  */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

article .infos-wrapper .like {
    display: flex;
    align-items: center;
}

img.icon-heart {
    width: 100%;
    padding-left: 5px;
    height: 18.5px;
    object-fit: cover;
    cursor: pointer;
}
/* Likes Counter Styles */
.likesCounter {
    box-sizing: border-box;
    height: 68px;
    width: 376px;
    border-radius: 5px 5px 0 0;
    padding: 21px 34px;
    position: fixed;
    right: 4%;
    bottom: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DB8876;
    color: #000;
    font-size: 24px;
    font-weight: 500;
}
.likesCounter .likes {
    display: flex;
    align-items: center;
}
.likesCounter .likes img {
    padding-left: 5px;
    width: 18.5px;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

/* Modal Styles */
#contact_modal {
    display: none;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 669px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    align-self: start;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h1 {
    font-size: 64px;
    color: #000;
    font-weight: normal;
    text-align: left;
    line-height: 83px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
}

form label {
    color: #312E2E;
    font-size: 36px;
    /* padding: 4px 0; */
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
form input#message {
    height: 170px;
}

form button {
    margin-top: 26px;
}

/* Lightbox modal */
#lightbox_modal {
    display: none;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
}

.lightbox {
    border-radius: 5px;
    background-color: rgb(211, 3, 3);
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}